html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
}

.source-panel {
	width: 50%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
}

.source-text {
	width: 100%;
	height: 100%;
}

.source-panel, .source-text {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}
